#main {
    overflow-y: scroll;
    background-color: #f6f7f8;
    color: #2d3242;
}
 div#canvas3d{
    border: none;
    cursor: move;
    width: 100%;
    height: 800px;
    background-color: #EEEEEE;
}

